.navlink {
    margin-left: 1rem;
    color: rgb(236, 236, 236);
    text-decoration: none;
    font-weight: 300;
    font-size: 25px;
}

.navbutton {
    transition: 0.15s ease-in-out;
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 5px;
}

.navdrawer {
    width: 80%;
    height: 100%;
}

.dontshowheader {
    display: none;
}

.showheader {
    display: inherit;
}

@media screen and (max-width: 600px) {
    .dontshowheader {
        display: none;
    }
    .showheader {
        display: none;
    }
    .navbutton {
        display: none;
    }
}