<div class="drawer" id="nav-drawer" hidden>
  <nav class="drawer-nav">
    <a href="/" data-nav="home"><img src="/assets/svg/plainhomelogo.svg" alt="" /><span>Home</span></a>
    <a href="/photography/" data-nav="photography"><img src="/assets/svg/camera.svg" alt="" /><span>Photography</span></a>
    <a href="/astro/" data-nav="astro"><img src="/assets/svg/astrologo.svg" alt="" /><span>Astrophotography</span></a>
    <a href="/videos/" data-nav="videos"><img src="/assets/svg/film.svg" alt="" /><span>Videography</span></a>
    <a href="/blog/" data-nav="blog"><img src="/assets/svg/techlogo.inline.svg" alt="" /><span>Blog</span></a>
  </nav>
  <button class="drawer-overlay" type="button" aria-label="Close menu"></button>
</div>
