.background {
    width: 100%;
    z-index: -2;
    position: fixed !important;
    top: 0;
    min-height: 100%;
}

@media screen and (max-width: 600px) {
    .background {
        width: 100%;
        min-height: 100%;
    }
}