.childrenContainer{
    padding-top: 130px;
}
.astroNav {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    padding-left: 0px;
    font-size: 25px;
    margin-bottom: 30px;
    background-color: rgb(253,253,253);
    position: fixed;
    z-index: 1;
    text-align: center;
    left: 0;
    border-bottom: 1px solid #00000061;
}

.astroNavButton {
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    font-size: 16px;
}

.selected {
    color: #04539c;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px solid;
}

@media only screen and (max-width: 660px) {
    .astroDescription {
        margin-left: 0px;
        margin-right: 0px;
        width: 95%;
    }

    .astroNav {
        margin-left: 0px;
        margin-bottom: 10px;
    }
}