.earthDescription {
    background: #fdfdfd;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 10px;
}

.hrStyle {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #04539c;
    margin-bottom: 10px;
}

.continentContainer {   
    transform-origin: top;
    transition: max-height 0.16s ease;
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.continentFilterButton {
    width: 30px;
    height: 20px;
    font-size: 20px;
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 10%;
    transition: 0.26s ease-in-out;
}

.continentFilterButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.filterOpen {
    max-height: 1000px;
}

.filterInstructions {
    margin-right: 10px;
    font-weight: 100;
    text-align: right;
}

.continentLabel {
    text-transform: capitalize;
    margin-left: 10%;
    padding-left: 10px;
    display: inline-block;
}

.travelNav {
    margin-left: 10%;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 25px;
    margin-bottom: 30px;
}

.travelNavButton {
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
}

.selected {
    color: #04539c;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px solid;
}

@media only screen and (max-width: 660px) {
    .continentLabel {
        font-size: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .filterInstructions {
        font-size: 15px;
    }
    .earthDescription {
        margin-left: 0px;
        width: 95%;
        line-height: 20px;
        font-size: 12px;
    }
    .continentFilterButton {
        margin-right: 10px;
    }
    .travelNav {
        padding-left: 0px;
        margin-left: 3%;
        font-size: 20px;
    }
    .travelNavButton {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }
    .continentContainer {   
        width: 95%;
    }
}