

.mainTitleHome {
    margin-bottom: 7rem;
}

.mainTitleOther {
    margin-bottom: 17rem;
}

.maintitle {
    text-align: left;
    margin-left: 9.5%;
    padding-left: 20px;
    margin-right: 3rem;
    font-size: 7rem;
    transition: 0.15s ease-in-out;
    transform-origin: top;
    top: 0.7rem;
    color: rgb(236, 236, 236);
    font-weight: 30;
    margin-top: 35rem;
    margin-bottom: 8.75rem;
}

@media only screen and (max-width: 660px) {
    .maintitle {
        font-weight: 400 !important;
        font-size: 50px !important;
        margin-bottom: 3rem !important;
        margin-top: 20rem;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .maintitle {
        margin-top: 25rem;
        line-height: 55px;
    }
}