<!-- Portfolio Modals -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>VM Concept Car</h2>
                                <hr class="star-primary">
                                <p>I designed this vehicle first on paper and subsequently modelled it in Solidworks. It took me about 2.5 months, but the journey in developing the car was fantastic.</p>
                                <p>I started by creating this this.. </p>
                                <img src="img/portfolio/VM/vmdrawing.JPG" class="img-responsive img-centered" alt="">
                                <p>and then:</p>
                                <img src="img/portfolio/VM/vmfront.JPG" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/VM/vmiso.JPG" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/VM/vmisoback.JPG" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/VM/vmside.JPG" class="img-responsive img-centered" alt="">
                                <p>The front didn't quite pan out the same, but this is still a work in progress..</p>
                                <ul class="list-inline item-details">
                                    <li>To obtain a pdf:
                                        <strong><a href="static/VM.pdf" target="_blank">Click here</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Python Interpreter</h2>
                                <hr class="star-primary">
                                <p>A project my friend Blake and I worked on. This is a simple python interpreter running on NodeJs. Find the Github repo below!</p>
                                <ul class="list-inline item-details">
                                    <li>Visit:
                                        <strong><a href="https://github.com/BlakeBrown/Python-Interpreter" target="_blank">Source Code</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Whack-A-Mole!</h2>
                                <hr class="star-primary">
                                <p>This is the final project for my Digital Systems course, in which we learned how to develop complex digital systems and analyse their efficiency. The game utilizes hardware interrupts and Arduino timers, and works by the user first turning the device on by pressing a button, choosing a difficulty, and managing to hit the buttons corresponding to the lit light as fast as possible. The score is displayed on the computer screen at the end. </p>

                                <video width="720" height="405" controls><source src="img/demo.mp4"></video>

                                <ul class="list-inline item-details">

                                    <li>Link to Arduino code:
                                        <strong><a href="https://github.com/sahirv/Whack-A-Mole/blob/master/whackAMole.ino" target="_blank">Here</a>
                                        </strong>
                                    </li>

                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Multipurpose Alarm Clock Redesign</h2>
                                <hr class="star-primary">
                                <p>I worked on this project for my Human Factors group with a team of other highly talented individuals. We were faced with the task of redesigning an old alarm clock that one of us had using human factors design principles. I learned and was able to apply many techniques such as developing a situation of concern, conducting Fault Tree analysis, Hierarchical task analysis, conduct Heuristic evaluations and assess the usability of the display and controls. I then generated this Solidworks model of our proposed design.</p>
                                <br>
                                <p>This is the old alarm clock:<p>
                                <img src="img/portfolio/MA/actual.jpg" class="img-responsive img-centered" alt="">
                                <p>And these are the redesign images:</p>
                                <img src="img/portfolio/MA/MA_ISO_Back.JPG" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/MA/MA_ISO_Front.JPG" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/MA/MA_Side.JPG" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/MA/MA_Tilted.JPG" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/MA/MA_Top.JPG" class="img-responsive img-centered" alt="">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Household Item Price Estimator</h2>
                                <hr class="star-primary">
                                <p>This is an application that uses depreciation economics to predict the future market price of items ranging from appliances to vehicles to furniture. It is coded in Ruby on Rails, and uses jQuery on the front end as well. Code is currently private, but here are some pictures of what it will look like!</p>
                                <br>
                                <img src="img/portfolio/price.png" class="img-responsive img-centered" alt="">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Clear Skies</h2>
                                <hr class="star-primary">
                                <p>An app developed at Space Apps. Clear Skies allows drone owners to view information on nearby drones, no fly zones, and flights in real time.</p>
                                <video width="720" height="405" controls><source src="img/clearskies.mp4"></video>

                                <ul class="list-inline item-details">

                                    <li>Link to code:
                                        <strong><a href="https://github.com/moaazsidat/clearskies" target="_blank">Here</a>
                                        </strong>
                                    </li>

                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>OnePlus 3 - Solidworks</h2>
                                <hr class="star-primary">
                                <p>Developed a model of the OnePlus 3 in my spare time.</p>
                                <br>
                                <img src="img/portfolio/OP3/op3.JPG" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/OP3/op3back.JPG" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/OP3/op3bottom.JPG" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/OP3/op3side.JPG" class="img-responsive img-centered" alt="">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Focus</h2>
                                <hr class="star-primary">
                                <p>A chrome extension that removes distractions like the News Feed on social networks such as Facebook.</p>
                                <br>
                                <ul class="list-inline item-details">
                                    <li>Find Focus on the
                                        <strong><a href="https://chrome.google.com/webstore/detail/focus/bgkfhickopppfgehdekaeciapmflmjpf?authuser=1" target="_blank">Chrome Web Store</a></strong>
                                    </li>
                                </ul>
                                <br>
                                <img src="https://lh3.googleusercontent.com/6lzyQBAocDTkRJA2JlSXTRiJIx7W0ixEuNQyBlOVHCUmSH9uoJDmB-8SB7SZBvPp0WNP6R2y=s1280-h800-e365-rw" class="img-responsive img-centered" alt="">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>cHello</h2>
                                <hr class="star-primary">
                                <p>The cHello is an electronic Cello that incorporates capacitive and resistive touch to produce sound. Output is in MIDI, and signal mapping is done via Teensy. From this project
                                I was able to obtain experience in additive manufacturing, laser cutting, and hardware development.</p>
                                <br>
                                <img src="img/portfolio/361/FAISO.png" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/361/fafront.png" class="img-responsive img-centered" alt="">
                                <img src="img/portfolio/361/bow2.png" class="img-responsive img-centered" alt="">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
