.childrenContainer {
    padding-top: 70px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
}

.blogDescription {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.blogText {
    margin-top: 10px;
    font-size: 18px;
}

.blogText a {
    color: rgb(0, 21, 214);
}

.blogImage {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blogSubheading {
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}

.entry {
    margin-bottom: 25px;
}

.mediumLink a{
    font-style: italic;
    color: rgb(0, 21, 214);
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

code {
    font-size: 14px;
    background: #ddeeff;
}

pre {
    /* white-space: pre-wrap; */
    background: #ddeeff;
    border-left: 0.5em solid #8ccbf2;
    padding: 0px 20px 20px 20px;
    margin-top: 10px;
}

@media only screen and (max-width: 660px) {
    h1 {
        font-size: 30px;
        font-weight: 400;
    }

    .blogDescription {
        font-size: 16px;
        font-weight: 500;
    }

    .blogImage {
        width: 100%;
    }

    .childrenContainer {
        margin-left: 5%;
        margin-right: 5%;
    }
    pre, code {
        font-size: 12px;
    }
}